(
  image: "scene_testing.png",
  layers: {
    (108, 89, 30, 255): "Dirt Wall",
    (30, 58, 139, 255): "Water",
    (182, 149, 51, 255): "Sand",
    (230, 219, 125, 255): "Sand",
    (242, 212, 120, 255): "Sand",
  },
)
